# Jikan API
JIKAN_BASE_URL=https://api.jikan.moe/v4

# Database (Supabase PostgreSQL)
SUPABASE_URL=postgresql://user:password@db.supabasehost.com:5432/postgres
SUPABASE_KEY=your_anon_key_here

# Configurazione
ENV=dev
MAX_PAGES=400